
.vscode/
*.pyc
*.pth
*.tar
*.dat
*.h5
*.png
*.zip

sbi/
yunet/
wandb/
output/
crop_data/
src/utils/library/README.md
src/utils/library/precomuted_landmarks.json
src/utils/library/LICENSE
src/utils/library/all_in_one.jpg
yunet_face/
faceDetectionModule.py
